In [7]:
# Import Dependencies
import pandas as pd

In [12]:
# In[4]:


# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
art_df  = pd.DataFrame([{"Frame": "Ornate", "Price": "15.0", "Sales":"100" },
                {"Frame": "Classical", "Price": "12.5", "Sales":"200" },
                 {"Frame": "Modern", "Price": "10.0", "Sales":"150" },
                  {"Frame": "Wood", "Price": "5.0", "Sales":"300" },
                  {"Frame": "Cardboard", "Price": "1.0", "Sales":"NA" }
                 ])

art_df

# In[9]:

       Frame Price Sales
0     Ornate  15.0   100
1  Classical  12.5   200
2     Modern  10.0   150
3       Wood   5.0   300
4  Cardboard   1.0    NA

In [10]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

df = pd.DataFrame({"Painting" : ["1", "2", "3", "4", "5"], 
             "Price": ["1", "2", "3", "4", "5"],
             "Popularity": ["1", "2", "3", "4", "5"]})

df

  Painting Price Popularity
0        1     1          1
1        2     2          2
2        3     3          3
3        4     4          4
4        5     5          5