In [1]:
import pandas as pd

In [8]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/Bedbug_Reporting.csv"
bugs_df = pd.read_csv(csv_path)
bugs_df.head()

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filing Period Start Date,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA
0,14135,117174,MANHATTAN,5,EAST 51 STREET,10022.0,14.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.758998,-73.976324,5.0,4.0,102.0,1035467.0,1.012870e+09,Midtown-Midtown South
1,806924,206329,BRONX,2400,SEDGWICK AVENUE,10468.0,128.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.864184,-73.908991,7.0,14.0,261.0,2092432.0,2.032260e+09,Kingsbridge Heights
2,14951,106899,MANHATTAN,348,EAST 62 STREET,10065.0,22.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.761862,-73.961509,8.0,5.0,110.0,1044239.0,1.014360e+09,Lenox Hill-Roosevelt Island
3,661202,407317,QUEENS,1714,GROVE STREET,11385.0,3.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.703275,-73.910772,5.0,34.0,547.0,4082197.0,4.034410e+09,Ridgewood
4,425643,423224,QUEENS,142-36,38 AVENUE,11354.0,18.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.761839,-73.826239,7.0,20.0,865.0,4113597.0,4.050208e+09,Flushing

In [7]:
# Columns we're interested in: 'Building ID', 'Borough', 'Postcode', '# of Dwelling Units',
#       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
#       'Re-infested Dwelling Unit Count', 'Filing Date', 'Latitude', 'Longitude'
bugs_df = bugs_df[['Building ID', 'Borough', 'Postcode', '# of Dwelling Units',
       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
       'Re-infested Dwelling Unit Count', 'Filing Date',
       'Latitude', 'Longitude']]
bugs_df.head()

KeyError: "['Re-infested Dwelling Unit Count'] not in index"

In [ ]:
# Extract the year from the date
bugs_df["Year"] = bugs_df["Filing Date"].dt.year
bugs_df.head()

In [ ]:
# Filter to only buildings with infested units greater than 0
bug_infestations = bugs_df.loc[(bugs_df["Infested Dwelling Unit Count"]>0),:]
bug_infestations.head()

In [ ]:
# Change postcode to int
bug_infestations["Postcode"] = bug_infestations["Postcode"].astype("int64")
bug_infestations.head()

In [ ]:
# Create a column for percentage of units infested
bug_infestations["Percent Units Infested"] = bug_infestations["Infested Dwelling Unit Count"] /
                                                bug_infestations["# of Dwelling Units"] * 100
bug_infestations.head()

In [ ]:
# Finding the average percentage of infested units
average_infested_units = bug_infestations["Percent Units Infested"].mean()
average_infested_units

In [ ]:
# Grouping the DataFrame by "Year"
year_group = bug_infestations.groupby("Year")

# Count how many buildings were infested in each borough and create DataFrame
year_borough_df = pd.DataFrame(year_group["Borough"].value_counts())
year_borough_df.head(10)

In [ ]:
# Rename the "Borough" column to "Total Building Infestations"
year_borough_df = year_borough_df.rename(
    columns={"Borough": "Total Building Infestations"})
year_borough_df.head()

In [ ]:
# Create a DataFrame that shows the total infested and re-infested dwelling unit count by year and borough
year_borough_group = bug_infestations.groupby(["Year", "Borough"])
unit_infestations_by_year_borough = pd.DataFrame(year_borough_group[["Infested Dwelling Unit Count",
                                                                   "Re-infested Dwelling Unit Count"]].sum())
unit_infestations_by_year_borough

In [ ]:
# Find the total unit infestations and re-infestations by year
total_unit_infestations_each_year = pd.DataFrame(year_group["Infested Dwelling Unit Count", 
                                                             "Re-infested Dwelling Unit Count"].sum())
total_unit_infestations_each_year = total_unit_infestations_each_year\
            .rename(columns={"Infested Dwelling Unit Count": "Total Infested Dwelling Units in Year",
                            "Re-infested Dwelling Unit Count": "Total Re-infested Dwelling Units in Year"})
total_unit_infestations_each_year

In [ ]:
# Merge unit_infestations_by_year_borough and join the "Total Infested Dwelling Units in Year"
# into the year_borough_df DataFrame
merged_df = year_borough_df.merge(unit_infestations_by_year_borough).join(total_unit_infestations_each_year,
                                                               on="Year")
merged_df.head()