In [1]:
import json
import requests
import pandas as pd

In [16]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []

# Loop through each character and make API request
for char in search_characters:
    
    try:
        response = requests.get(url + char).json()
        print(response["results"][0]["height"])
        height.append(response["results"][0]["height"])
        print(response["results"][0]["mass"])
        mass.append(response["results"][0]["mass"])
    except:
        height.append("n/a")
        mass.append("n/a")
        print("not found")
    # Create search query, make request and store in json
    
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    
        
    # Handle exceptions for a character that is not available in the Star Wars API

96
32
202
136
not found
172
77
not found
183
78.2
not found
not found
180
80

In [17]:
height, mass

(['96', '202', 'n/a', '172', 'n/a', '183', 'n/a', 'n/a', '180'],
 ['32', '136', 'n/a', '77', 'n/a', '78.2', 'n/a', 'n/a', '80'])

In [18]:
# Create DataFrame
char_dict = {
    "Character": search_characters,
    "Height": height,
    "Mass": mass
}
char_data = pd.DataFrame(char_dict)
char_data

        Character Height  Mass
0           R2-D2     96    32
1     Darth Vader    202   136
2        Godzilla    n/a   n/a
3  Luke Skywalker    172    77
4           Frodo    n/a   n/a
5       Boba Fett    183  78.2
6        Iron Man    n/a   n/a
7        Jon Snow    n/a   n/a
8        Han Solo    180    80