In [4]:
# Dependencies
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd

In [5]:
# Save config information.
api_key = "2bc5a6f21983e3b3e4adfdaf55edd5f2"
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="
query_url

'http://api.openweathermap.org/data/2.5/weather?appid=2bc5a6f21983e3b3e4adfdaf55edd5f2&units=metric&q='

In [6]:
# Get latitude and temperature for cities
cities = ["Paris", "London", "Oslo", "Beijing", "Mumbai", "Manila", "New York", "Seattle", "Dallas", "Taipei"]

# set up lists to hold reponse info
lat = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(query_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

The latitude information received is: [48.8534, 51.5085, 59.9127, 39.9075, 19.0144, 14.6042, 40.7143, 47.6062, 32.7668, 25.0478]
The temperature information received is: [13.52, 9.92, 4.13, 4.94, 24.99, 27.86, 14.39, 7.63, 27.46, 20.9]

In [7]:
# create a data frame from cities, lat, and temp
weather_dict = {
    "city": cities,
    "lat": lat,
    "temp": temp
}
weather_data = pd.DataFrame(weather_dict)
weather_data

       city      lat   temp
0     Paris  48.8534  13.52
1    London  51.5085   9.92
2      Oslo  59.9127   4.13
3   Beijing  39.9075   4.94
4    Mumbai  19.0144  24.99
5    Manila  14.6042  27.86
6  New York  40.7143  14.39
7   Seattle  47.6062   7.63
8    Dallas  32.7668  27.46
9    Taipei  25.0478  20.90

In [ ]:
# Create a Scatter Plot for temperature vs. latitude

In [ ]:
# Perform a linear regression on temperature vs. latitude


# Get regression values

In [ ]:
# Create line equation string

In [ ]:
# Create Plot


# Label plot and annotate the line equation


# Print r square value


# Show plot

In [ ]:
# Use the line equation to predict the temperature for Florence at a latitude of 43.77 degrees

In [ ]:
# Use API to determine actual temperature