In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
states_dictionary = [{"Frame": "New Jersey", "ABBREVIATION": "NJ"},
                {"Price": "New York", "ABBREVIATION": "NY"},
                    {"Sales": ""}
​
​
# In[8]:
​
​
mydf = pd.DataFrame(states_dictionary)

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A

In [3]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1

In [ ]:
#!/usr/bin/env python
# coding: utf-8
​
# In[1]:
​
​
import pandas as pd 
​
​
# In[4]:
​
​
myList = ["Toronto", "Ottawa", "Montreal"]
​
​
# In[5]:
​
​
data_series = pd.Series(myList)
​
​
# In[6]:
​
​
data_series
​
​
# In[7]:
​
​
states_dictionary = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"}]
​
​
# In[8]:
​
​
mydf = pd.DataFrame(states_dictionary)
​
​
# In[9]:
​
​
mydf
​
​
# In[11]:
​
​
df = pd.DataFrame({"Cities" : ["Toronto", "Montreal", "Ottawa", "Vancouver"], 
             "Provinces": ["Ontario", "Quebec", "Ontario", "BC"]})
​
​
# In[12]:
​
​
df
​
​
# In[ ]:
​